.button__close {
  width: 41px;
  height: 41px;
  background-image: url(../../../images/close_button.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 582px) {
  .button__close {
    width: 21px;
    height: 21px;
  }
}
