.button__edit {
  width: 24px;
  height: 24px;
  margin-left: 17px;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 582px) {
  .button__edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: cover;
  }
}
